.summary-heading {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    margin: 1em 0;
}

ul {
    list-style: none;
    padding: 0;
}

.event-list li {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #0d6efd; /* Bootstrap blue */
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
}