.summary-heading {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    margin: 1em 0;
}

ul {
    list-style: none;
    padding: 0;
}

.event-list li {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.detail-event {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    color: #0d6efd; /* Bootstrap blue */
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.btn-signup {
    background-color: #188181;
    color: #fff;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}